<div class="homepage">
  <div class="hero-section">
    <div class="overlay"></div>
    <div class="content text-white d-flex flex-column justify-content-center align-items-center align-items-md-start ms-5 ps-5">
      <h1 class="h1 mb-4">Power your passion for sports</h1>
      <p class="h5">Track your activity and record your progress</p>
      <div class="action-call mt-4 d-flex flex-column flex-md-row justify-content-center align-items-center">
        <%= link_to "Enroll", new_user_registration_path, class: "btn btn-round btn-primary btn-150 text-white py-2 px-3 my-2 ms-md-2" %> 
        <%= link_to "Learn more", root_path(:anchor => "features"), class: "btn btn-round btn-secondary btn-150 text-white py-2 px-3 my-2 ms-md-2", data: { turbolinks: false }  %>
      </div>
    </div>
  </div>
  <div class="activity-section">
    large panel
  </div>
  <div class="features-section" id="features">
    features
  </div>


</div>

