<div class="user-show">
  <div class="container d-flex flex-column flex-lg-row justify-content-center align-items-center">
    <div class="user-profile box box-shadow mx-0 my-3 me-lg-3 my-lg-0 p-3">
      <h3 class="text-primary mb-3">My profile</h3>


    </div>
    <div class="stats-records d-flex flex-column justify-content-between">
      <%= render 'users/stats'%>
      <%= render 'users/lastRecord'%>
    </div>
  </div>
</div>