<div class="user-show min-vh-100">
  <div class="container d-flex flex-column flex-lg-row justify-content-center align-items-center">
    <div class="user-profile">
      <%= render 'users/profile'%>
    </div>
    <div class="stats-records d-flex flex-column justify-content-between">
      <%= render 'users/stats'%>
      <%= render 'users/lastRecord'%>
    </div>
  </div>
</div>