// Place all the styles related to the records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.records-index {
  min-height: 100vh;

  .styled-table {
    width: 900px;
    border-collapse: collapse;
    margin: 3em 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

    @media screen and (max-width: 500px) {
      width: 350px;
    }

    @media screen and (min-width: 501px) and (max-width: 900px) {
      width: 450px;
    }

    th, td {
      height: 2em;
      padding: 0.4em;
      text-align: center;

      a i {
        color: $primary;
      }
    }

    th.column-empty, td.column-empty {
      padding: 0.4em;
      text-align: center;
    }

    thead tr {
      background-color: $primary;
      color: $white;
      text-align: left;
    }

    tbody tr {
      border-bottom: thin solid $grey;
    
      &:nth-of-type(even) {
        background-color: $grey;
      }

      &:hover {
        background-color: $primary;
        color: $white;

        a i {
          color: $white;
        }
      }
      
      &:last-of-type {
        border-bottom: thick solid $primary;
      }
    }
  }
}




.record-show {
  min-height: 100vh;

  .activity-illustration {
    width: 200px;
  }

}