// // Place all the styles related to the static_pages controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/

.homepage {
  margin-top: -6em;
  margin-left: -6em;
  margin-right: -6em;


  .hero-section {
    height: 100vh;
    background-image: url('deadlift.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: 767px) {
      background-image: url('dumbells.jpg');
    }

    .overlay {
      top: 0;
      left: 0;
      height: 100%;
      background-color: $dark_blue;
      opacity: 0.6;

      @media screen and (max-width: 767px) {
        opacity: 0.7;
      }
    }

    .content {
      position: absolute;
      top: 0;
      left: 0;
      padding-top: 6em;
      width: 100%;
      height: 100%;

      .h1 {
        font-size: 3.2em;
        max-width: 540px;
        line-height: 1.3em;

        @media screen and (max-width: 767px) {
          font-size: 2.5em;
        }
      }

      .h4 {
        font-weight: 400;
        line-height: 1.6em;
      }
    }
  }

  .activity-section {
    min-height: 50vh;

    @media screen and (max-width: 767px) {
      height: 100%;
    }

    .img-card {
      width: 350px;
      height: 350px;
      object-fit: fill;
      border: 1px solid $grey;
      border-radius: 50px;

      @media screen and (max-width: 767px) {
        width: 200px;
        height: 200px;
      }
    }

    .activity-section-right {
      padding-right: 6em;

      @media screen and (max-width: 767px) {
        padding-right: 1em;
        padding-left: 1em;
      }

      .h2 {
        font-size: 2.5em;
        line-height: 1.3em;

        @media screen and (max-width: 767px) {
          font-size: 1.5em;
        }
      }

      .h4 {
        font-weight: 400;
        line-height: 1.6em;
      }
    }


  }

  .features-section {
    min-height: 50vh;

    .h5 {
      font-weight: 400;
    }
  }
}

