// // Place all the styles related to the static_pages controller here.
// // They will automatically be included in application.css.
// // You can use Sass (SCSS) here: http://sass-lang.com/

.homepage {
  margin-top: -6em;

  .hero-section {
    height: 100vh;
    background-image: url('deadlift.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    @media screen and (max-width: 500px) {
      background-image: url('dumbells.jpg');
    }

    .overlay {
      top: 0;
      left: 0;
      z-index: 10;
      height: 100%;
      background-color: $dark_blue;
      opacity: 0.6;

      @media screen and (max-width: 500px) {
        opacity: 0.7;
      }
    }

    .content {
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 6em;
      z-index: 200;
    }
  }
}