$primary: #390e9c;
$primary_hover: #7856c9;
$secondary: #070B34;

.padding-page {
  padding-top: 6em;
}

.box-shadow {
  box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
}

.border-radius-5 {
  border-radius: 5px;
}