$primary: #0faef0;
$primary_hover: #0D9CD8;
$secondary: #f0510f;
$secondary_hover: #d8480d;
$grey: #dddddd;
$light-grey: #f3f6f4;
$white: #ffffff;

html {
  display: flex;
  justify-content: center;
  align-items: center;

  body {
    width: 100%;
  }
}

.padding-page {
  padding-top: 6em;
}

.box {
  width: 440px;

  @media screen and (max-width: 500px) {
    width: 360px;
  }
}

.box-shadow {
  box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
}

.border-radius-5 {
  border-radius: 5px;
}

.border-radius-top-5 {
  border-radius: 5px 5px 0 0 !important; 

}

.border-radius-bottom-5 {
  border-radius: 0 0 5px 5px !important; 
}

.btn-round {
  border-radius: 200px !important;
}

.btn-100 {
  width: 100px !important;
}

a {
  color: $primary !important; 

  &:hover {
    color: $primary_hover !important; 
  }
}

li a.dropdown-item {
  color: $primary !important; 

  &:hover {
    background-color: $light-grey !important;
    color: $primary_hover !important; 
  }
}

a.btn.btn-primary {
  color: $white !important; 

  &:hover { 
    background-color: $primary_hover !important; 
  }
}

a.btn.btn-secondary {
  color: $white !important; 

  &:hover { 
    background-color: $secondary_hover !important; 
  }
}

a.btn.btn-outline-primary {
  color: $primary !important; 

  &:hover { 
    background-color: $primary !important; 
    color: $white !important; 
  }
}