$primary: #0faef0;
$primary_hover: #0c8bc0;
$secondary: #f0510f;
$secondary_hover: #C0400C;
$warning: #e4bc40;
$warning_hover: #cda939;
$danger: #ff3860;
$danger_hover: #d8312b;
$success: #28a745;
$success_hover: #23923d;
$dark: #56616b;
$dark_hover: #444d55;
$grey: #dddddd;
$light-grey: #f3f6f4;
$dark_blue: #110641;
$white: #ffffff;

html {
  display: flex;
  justify-content: center;
  align-items: center;

  body {
    width: 100%;
  }
}

.padding-page {
  padding-top: 6em;
}

.box {
  width: 440px;

  @media screen and (max-width: 500px) {
    width: 360px;
  }
}

.box-shadow {
  box-shadow: 0 3px 8px rgba(50, 50, 50, 0.17);
}

.border-radius-5 {
  border-radius: 5px;
}

.border-radius-top-5 {
  border-radius: 5px 5px 0 0 !important; 

}

.border-radius-bottom-5 {
  border-radius: 0 0 5px 5px !important; 
}

.btn-round {
  border-radius: 200px !important;
}

.btn-100 {
  width: 100px !important;
}

.btn-150 {
  width: 150px !important;
}

.btn-200 {
  width: 200px !important;
}

a {
  color: $primary !important; 

  &:hover {
    color: $primary_hover !important; 
  }
}

li a.dropdown-item {
  color: $primary !important; 

  &:hover {
    background-color: $light-grey !important;
    color: $primary_hover !important; 
  }
}

.btn {
  border: 0 !important; 
}

a.btn.btn-primary, .btn.btn-success  {
  background-color: $primary !important; 
  color: $white !important; 

  &:hover { 
    background-color: $primary_hover !important; 
  }
}

a.btn.btn-secondary, .btn.btn-success  {
  background-color: $secondary !important; 
  color: $white !important; 

  &:hover { 
    background-color: $secondary_hover !important; 
  }
}

a.btn.btn-warning, .btn.btn-success  {
  background-color: $warning !important; 
  color: $white !important; 

  &:hover { 
    background-color: $warning_hover !important; 
  }
}

a.btn.btn-danger, .btn.btn-success  {
  background-color: $danger !important; 
  color: $white !important; 

  &:hover { 
    background-color: $danger_hover !important; 
  }
}

a.btn.btn-success, .btn.btn-success {
  background-color: $success !important; 
  color: $white !important; 

  &:hover { 
    background-color: $success_hover !important; 
  }
}

a.btn.btn-dark, .btn.btn-dark {
  background-color: $dark !important; 
  color: $white !important; 

  &:hover { 
    background-color: $dark_hover !important; 
  }
}

a.btn.btn-outline-primary, .btn.btn-outline-primary {
  color: $primary !important; 
  border: 1px solid $primary !important;

  &:hover { 
    background-color: $primary !important; 
    color: $white !important; 
  }
}

a.btn.btn-outline-secondary, .btn.btn-outline-secondary {
  color: $secondary !important; 
  border: 1px solid $secondary !important;

  &:hover { 
    background-color: $secondary !important; 
    color: $white !important; 
  }
}

a.btn.btn-outline-warning, .btn.btn-outline-warning {
  color: $warning !important; 
  border: 1px solid $warning !important;

  &:hover { 
    background-color: $warning !important; 
    color: $white !important; 
  }
}

a.btn.btn-outline-danger, .btn.btn-outline-danger {
  color: $danger!important; 
  border: 1px solid $danger !important;

  &:hover { 
    background-color: $danger !important; 
    color: $white !important; 
  }
}

a.btn.btn-outline-success, .btn.btn-outline-success {
  color: $success!important; 
  border: 1px solid $success !important;

  &:hover { 
    background-color: $success !important; 
    color: $white !important; 
  }
}

a.btn.btn-outline-dark, .btn.btn-outline-dark {
  color: $dark!important; 
  border: 1px solid $dark !important;

  &:hover { 
    background-color: $dark !important; 
    color: $white !important; 
  }
}