// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup-section, .login-section, .forgot-password-section, .edit-credentials-section, .edit-profile-section {
  display: flex;
  justify-content: center;
  align-items: center;

  .img-section img {
    max-height:540px;
    object-fit: contain;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .box {
    .field {
      margin-bottom: 1em;

      label {
        font-weight: 500;
        padding-bottom: 0.5em;
      }

      .input {
        position: relative;
        display: block;
        width: 100%;

        input {
          border: 1px solid #dadada;
          border-radius: 7px;
          width: 100%;
          height: 2.5em;
          padding-top: 0.3em;
          padding-bottom: 0.3em;
          padding-left: 2.3em;
          outline: none;
        
          &:focus {
            border: none;
            outline: none;
            border-color: $primary;
            box-shadow: 0 0 10px $primary;
          }
        }

        .icon-mail {
          position: absolute;
          left: 10px;
          top: 20%;
        }

        .icon-lock {
          position: absolute;
          left: 13px;
          top: 20%;
        }
      }
    }

    .actions {
      input {
        border: none;
        background-color: $primary;


        &:hover {
          background-color: $primary_hover;
        }
      }
    }
  }

  .devise-links a {
    text-decoration: none;
  }
}

.login-section {
  @media (min-width: 992px) {
    .border-radius-5 {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
    }
  }
}

.forgot-password-section, .edit-credentials-section, .edit-profile-section {
  .box {
    width: 100%;
    max-width: 600px;
  }
}


.user-show {
  span {
    font-weight: 500;
  }

  .avatar {
    height: 150px;
    width: 150px;
    border-radius: 80px;
  }

  .user-profile {
    @media (min-width: 992px) {
      height: 504px;
    }
  }

  .last-record {
    @media (min-width: 992px) {
      height: 219px;
    }
  }
}

.btn-avatar {
  .add-avatar {
    display: none;
  }
}

